* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFDFF;
  color: black;
  animation: background-gradient 5s;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  animation-timing-function: ease-in-out;
  background-image: radial-gradient(circle at 90% 80%, transparent, white);
}

.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.100);
}

.nav-bar ul {
  padding: 24px 20px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-bar ul li {
  color: midnightblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

ul li.active {
  background-color: midnightblue;
  color: white;
}

ul li:hover {
  background-color: midnightblue;
  color: white;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

section h1 {
  font-family: monospace;
  border-bottom: solid 2px gray;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 2.25rem;
}

@keyframes background-gradient {
  0% {
    background-color: #3333cc84;
  }
  25% {
    background-color: #00ffcc89;
  }
  50% {
    background-color: #3333cca3;
  }
  75% {
    background-color: #00ffccc0;
  }
  100% {
    background-color: #3333ccb6;
  }
}